html,
body {
    height: 100%;
}

body {
    min-width: var(--page-min-width);
    font-family: var(--font-family);
    color: var(--color-text-primary);
}

.page__bg {
    position: fixed;
    inset: 0;
    background: url("../../../public/images/bg-cloudy.png") center/cover no-repeat;
    z-index: -1;
}

.app {
    max-width: var(--page-min-width);
    margin: 0 auto;
}

.main {
    display: block;
}