html,
body {
  height: 100%;
}

body {
  min-width: var(--page-min-width);
  font-family: var(--font-family);
  color: var(--color-text-primary);
}

.page__bg {
  position: fixed;
  inset: 0;
  background: url("../../../public/images/bg-cloudy.png") center/cover no-repeat;
  z-index: -1;
}

.app {
  max-width: var(--page-min-width);
  margin: 0 auto;
}
.main {
  display: block;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}

.u-glow {
  text-shadow: var(--txt-glow-weak);
}
.u-glow-strong {
  text-shadow: var(--txt-glow-strong);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
